@model Market.Site.Models.LogInModel

<div>

    <h2>Log In</h2>

    @Html.ValidationSummary(true)

    @using (Html.BeginForm())
    {
        <div>
            <label for="Email">Email</label>
        </div>
        <div>
            <input id="Email" name="Email" type="email" value="admin@market.com" placeholder="Ingrese Email" required autocomplete="off" />
        </div>
        <div>
            <label for="Password">Password</label>
        </div>
        <div>
            <input id="Password" name="Password" type="password" value="password" />
        </div>
        <p>
            <button type="submit">Log In</button>
        </p>
    }
</div>