
@{
    ViewBag.Title = "Index Home";
}


<h2>@ViewBag.Title</h2>

<p>
    Hola @User.Identity.Name
</p>
<p>
    Usuario residente de: @ViewBag.Country
</p>

<div>
    <h4 id="output"></h4>
</div>
<script id="script" src="/scripts/demo.js"></script>
<script src="/scripts/appJS/app.js"></script>

<div class="row">
    <button class="btn btn-default" onclick="displayText()">Display Text</button>
    <div id="msgDiv">
        <h2 id="msgText"></h2>
    </div>

</div>