
@{
    ViewBag.Title = "Index Home";
}


<h2>@ViewBag.Title</h2>

<p>
    Hola @User.Identity.Name
</p>
<p>
    Usuario residente de: @ViewBag.Country
</p>

<div>
    <h4 id='output'></h4>
</div>
<script id='script' src='demo.js'></script>